{%extends 'header.html'%}
{%block content%}
<script>
    function myFunction(id) {
      var txt;
      var r = confirm("Delete user?");
      if (r == true) {
        window.location.href = "/delete_user/"+id;
      } else {
        txt = "You pressed Cancel!";
      }
      document.getElementById("demo").innerHTML = txt;
    }
</script>
<div class = 'container'>
    <div class="pt-3">
            <table class = 'table table-striped'>
                <thead>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>User Code</th>
                </thead>
                <tbody>
                    {%for user in users%}
                    <tr>
                        <td>{{user['userid']}}</td>
                        <td>{{user['username']}}</td>
                        <td>{{user['name']}}</td>
                        <td>{{user['phonenumber']}}</td>
                        <td>{{user['address']}}, {{user['town']}}</td>
                        <td>{{user['usercode']}}</td>
                        <td><a href = "{{url_for('edit_user',id=user['userid'])}}" class = 'btn btn-primary'>Edit</a></td>
                        <td><button onclick = "myFunction({{user['userid']}})" class = 'btn btn-danger'>Delete</button></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

</div>


{%endblock content%}