{%extends 'header.html'%}
{%block content%}
<div class = 'container'>
       

        {%if allCheckedOut%}
        <div class="card">
        <div class="card-body">
            <p class="text-center "><h2>All Students Checked Out</h2></p>
            <a href = "{{url_for('students')}}"><button type="button" class="btn btn-primary btn-lg btn-block">Back To Students Page</button></a>
        </div>
        </div>
        
        {%else%}
        <h3>Check Out</h3>
    
        
            
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" style='width: 10%'>Check Out</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                
                  </tr>
                </thead>
                <tbody>
                    <form role="form" method="post">
                    {%for student in students%}
                    <tr>
                    <div class = 'row'>
                        <td>
                        <div class = 'pl-3'>
                        <input  style = 'width:30px; height:30px;' type="checkbox"  name = "checkoutbox" value="{{student['studentid']}}">
                        </div>
                        </td>
                        
                        
                        <td>{{student['studentname']}}</td>
                        {%if student['ischeckedin']%}
                        <td style = 'color:green'>Checked In</td>
                        {%else%}
                        <td style = 'color:red'>Checked Out</td>
                        {%endif%}
                       
                    </div>
                    </tr>
                    {%endfor%}
                  
                </tbody>
              </table>
            
           
        <button type="submit" name="submit" value="checkout" class = "btn btn-danger btn-lg btn-block">Check Out</button>

        </form>
        {%endif%}
        
        
{%endblock content%}