{%extends 'header.html'%}
{%block content%}
<div class = 'container'>
        
        
                <ul class = 'list-group'>
                {%for user in users%}
                {%set url = user['userid']|string%}
                <li class = 'list-group-item'><a href ='{{url_for("user_pickup",username=url)}}'><h3>{{user['name']}}</h3></a></li>

                {%endfor%}
                </ul>
                </div>
             
</div>
<div class="container">

                <h2> List Groups </h2>
                
                
                <ul class="list-group">
                 <li class="list-group-item">Sunday</li>
                 <li class="list-group-item">Monday</li>
                 <li class="list-group-item">Tuesday</li>
                 <li class="list-group-item">Wednesday</li>
                 <li class="list-group-item">Thursday</li>
                 <li class="list-group-item">Friday</li>
                 <li class="list-group-item">Saturday</li>
                 </ul>
                
                
                </div>
{%endblock content%}

